PORT=3000
CLIENT_ORIGIN=http://127.0.0.1:5173
DATA_STORE=mysql

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=smart_day_planner

AI_SERVICE_URL=http://127.0.0.1:8000
AI_SERVICE_TIMEOUT_MS=2500
AI_SERVICE_ENABLED=true
AI_HOST=127.0.0.1
AI_PORT=8000
AI_MODEL_MODE=rule_based
